- 파생변수 생성 - 판다스 문법, assign, lambda
  - assign 함수 사용
    - 데이터프레임.assign((변수명1 = 파생변수식1), (변수명2 = 파생변수식2) ... n)
    - 데이터프레임.assign(lambda 식으로 사용 가능)
- groupby
- 범주형 데이터를 다루는 문법
  - cut, qcut, crosstab, pivot

In [1]:
import pandas as pd
import seaborn as sns

tt = sns.load_dataset('titanic')

In [2]:
# 파생변수 생성
tt['age+fare'] = tt['age']+tt['fare']

In [3]:
tt.assign(agefare1 = tt['age']+tt['fare'],
          agefare2 = tt['age']-tt['fare'])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age+fare,agefare1,agefare2
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,29.2500,29.2500,14.7500
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,109.2833,109.2833,-33.2833
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,33.9250,33.9250,18.0750
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,88.1000,88.1000,-18.1000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,43.0500,43.0500,26.9500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,40.0000,40.0000,14.0000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,49.0000,49.0000,-11.0000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN,NaN,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,56.0000,56.0000,-4.0000
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,39.7500,39.7500,24.2500

In [4]:
tt.assign(agefare1 = lambda x : x['age'] + x['fare'],
          agefare2 = lambda x : x['age'] - x['fare'])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age+fare,agefare1,agefare2
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,29.2500,29.2500,14.7500
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,109.2833,109.2833,-33.2833
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,33.9250,33.9250,18.0750
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,88.1000,88.1000,-18.1000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,43.0500,43.0500,26.9500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,40.0000,40.0000,14.0000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,49.0000,49.0000,-11.0000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN,NaN,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,56.0000,56.0000,-4.0000
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,39.7500,39.7500,24.2500

## **Groupby**

- 집단 별 요약 = 내가 원하는 (관심 있는) 집단의 요약한 값을 구할 때 사용, 그룹으로 묶을 기준 필요하며 그 기준에 따른 요약 통계치 필요
---
- 1. groupby 로 컬럼 묶어보기
  - 데이터프레임.groupby(내가 관심있는 컬럼)
- 2. 2개 이상 groupby 컬럼 진행
  - 데이터프레임.groupby(['컬럼1', '컬럼2'])
---
- 내가 원하는 데이터프레임만 추출하고 싶을 때
  - get_group(내가 groupby한 컬럼의 값)
---
- **df.groupby('내가 묶을 컬럼들')['내가 통계치를 보고 싶은 컬럼'].기초통계문법**
- groupby로 묶은 후 내가 원하는 요약 통계치 보고 싶을 때
- case 1
  - 변수처럼 생각해서 내가 원하는 요약 통계치 값을 변수에 넣고 추출
- case 2
  - 전체 데이터 내에서 판다스 문법으로 출력하는 경우
- 2개 이상도 위와 동일하게 추출 가능
---
- 2개 이상의 요약 통계치를 보고 싶은 경우
- **agg 함수 같이 사용**
- 데이터프레임.groupby('내가 원하는 컬럼들').agg((변수명1=('내가 요약 통계치 보고싶은 컬럼1', '요약 통계치1',
(변수명2=('내가 요약 통계치 보고싶은 컬럼2', '요약 통계치2') ... n)
- 내가 원하는 함수 만들어 적용 가능

In [5]:
tt_sex=tt.groupby('sex')

In [6]:
## tt_sex 현재 어떤 식의 구조로 묶인건지 이해

for i, j in tt_sex:
  print(i)
  print(j)

female
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
8           1       3  female  27.0      0      2  11.1333        S   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
880         1       2  female  25.0      0      1  26.0000        S  Second
882         0       3  female  22.0      0      0  10.5167        S   Third
885         0       3  female  39.0      0      5  29.1250        Q   Third
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third

       who  adult_male deck  embark_town alive  alone  age+fare
1    woman       False    C    Cherbourg   yes  False  109.2833
2    woman       False  NaN  Southampton   yes   True   33.9250
3    woman       False    C  Southampton   yes  False   88.1000
8    woman       False  NaN  Southampton   yes  False   38.1333
9    child       False  NaN    Cherbourg   yes  False   44.0708
..     ...         ...  ...          ...   ...    ...       ...
880  woman       False  NaN  Southampton   yes  False   51.0000
882  woman       False  NaN  Southampton    no   True   32.5167
885  woman       False  NaN   Queenstown    no  False   68.1250
887  woman       False    B  Southampton   yes   True   49.0000
888  woman       False  NaN  Southampton    no  False       NaN

[314 rows x 16 columns]
male
     survived  pclass   sex   age  sibsp  parch     fare embarked   class  \
0           0       3  male  22.0      1      0   7.2500        S   Third
4           0       3  male  35.0      0      0   8.0500        S   Third
5           0       3  male   NaN      0      0   8.4583        Q   Third
6           0       1  male  54.0      0      0  51.8625        S   First
7           0       3  male   2.0      3      1  21.0750        S   Third
..        ...     ...   ...   ...    ...    ...      ...      ...     ...
883         0       2  male  28.0      0      0  10.5000        S  Second
884         0       3  male  25.0      0      0   7.0500        S   Third
886         0       2  male  27.0      0      0  13.0000        S  Second
889         1       1  male  26.0      0      0  30.0000        C   First
890         0       3  male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  age+fare
0      man        True  NaN  Southampton    no  False   29.2500
4      man        True  NaN  Southampton    no   True   43.0500
5      man        True  NaN   Queenstown    no   True       NaN
6      man        True    E  Southampton    no   True  105.8625
7    child       False  NaN  Southampton    no  False   23.0750
..     ...         ...  ...          ...   ...    ...       ...
883    man        True  NaN  Southampton    no   True   38.5000
884    man        True  NaN  Southampton    no   True   32.0500
886    man        True  NaN  Southampton    no   True   40.0000
889    man        True    C    Cherbourg   yes   True   56.0000
890    man        True  NaN   Queenstown    no   True   39.7500

[577 rows x 16 columns]

In [7]:
tt_pclass=tt.groupby('pclass')

In [8]:
for i, j in tt_pclass:
  print(i)
  print(j)

1
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1           1       1  female  38.0      1      0  71.2833        C  First
3           1       1  female  35.0      1      0  53.1000        S  First
6           0       1    male  54.0      0      0  51.8625        S  First
11          1       1  female  58.0      0      0  26.5500        S  First
23          1       1    male  28.0      0      0  35.5000        S  First
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
871         1       1  female  47.0      1      1  52.5542        S  First
872         0       1    male  33.0      0      0   5.0000        S  First
879         1       1  female  56.0      0      1  83.1583        C  First
887         1       1  female  19.0      0      0  30.0000        S  First
889         1       1    male  26.0      0      0  30.0000        C  First

       who  adult_male deck  embark_town alive  alone  age+fare
1    woman       False    C    Cherbourg   yes  False  109.2833
3    woman       False    C  Southampton   yes  False   88.1000
6      man        True    E  Southampton    no   True  105.8625
11   woman       False    C  Southampton   yes   True   84.5500
23     man        True    A  Southampton   yes   True   63.5000
..     ...         ...  ...          ...   ...    ...       ...
871  woman       False    D  Southampton   yes  False   99.5542
872    man        True    B  Southampton    no   True   38.0000
879  woman       False    C    Cherbourg   yes  False  139.1583
887  woman       False    B  Southampton   yes   True   49.0000
889    man        True    C    Cherbourg   yes   True   56.0000

[216 rows x 16 columns]
2
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
17          1       2    male   NaN      0      0  13.0000        S  Second
20          0       2    male  35.0      0      0  26.0000        S  Second
21          1       2    male  34.0      0      0  13.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second
883         0       2    male  28.0      0      0  10.5000        S  Second
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone  age+fare
9    child       False  NaN    Cherbourg   yes  False   44.0708
15   woman       False  NaN  Southampton   yes   True   71.0000
17     man        True  NaN  Southampton   yes   True       NaN
20     man        True  NaN  Southampton    no   True   61.0000
21     man        True    D  Southampton   yes   True   47.0000
..     ...         ...  ...          ...   ...    ...       ...
866  woman       False  NaN    Cherbourg   yes  False   40.8583
874  woman       False  NaN    Cherbourg   yes  False   52.0000
880  woman       False  NaN  Southampton   yes  False   51.0000
883    man        True  NaN  Southampton    no   True   38.5000
886    man        True  NaN  Southampton    no   True   40.0000

[184 rows x 16 columns]
3
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
2           1       3  female  26.0      0      0   7.9250        S  Third
4           0       3    male  35.0      0      0   8.0500        S  Third
5           0       3    male   NaN      0      0   8.4583        Q  Third
7           0       3    male   2.0      3      1  21.0750        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
882         0       3  female  22.0      0      0  10.5167        S  Third
884         0       3    male  25.0      0      0   7.0500        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone  age+fare
0      man        True  NaN  Southampton    no  False   29.2500
2    woman       False  NaN  Southampton   yes   True   33.9250
4      man        True  NaN  Southampton    no   True   43.0500
5      man        True  NaN   Queenstown    no   True       NaN
7    child       False  NaN  Southampton    no  False   23.0750
..     ...         ...  ...          ...   ...    ...       ...
882  woman       False  NaN  Southampton    no   True   32.5167
884    man        True  NaN  Southampton    no   True   32.0500
885  woman       False  NaN   Queenstown    no  False   68.1250
888  woman       False  NaN  Southampton    no  False       NaN
890    man        True  NaN   Queenstown    no   True   39.7500

[491 rows x 16 columns]

In [9]:
tt_sp=tt.groupby(['sex', 'pclass'])

In [10]:
for i, j in tt_sp:
  print(i)
  print(j)

('female', np.int64(1))
     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
1           1       1  female  38.0      1      0   71.2833        C  First
3           1       1  female  35.0      1      0   53.1000        S  First
11          1       1  female  58.0      0      0   26.5500        S  First
31          1       1  female   NaN      1      0  146.5208        C  First
52          1       1  female  49.0      1      0   76.7292        C  First
..        ...     ...     ...   ...    ...    ...       ...      ...    ...
856         1       1  female  45.0      1      1  164.8667        S  First
862         1       1  female  48.0      0      0   25.9292        S  First
871         1       1  female  47.0      1      1   52.5542        S  First
879         1       1  female  56.0      0      1   83.1583        C  First
887         1       1  female  19.0      0      0   30.0000        S  First

       who  adult_male deck  embark_town alive  alone  age+fare
1    woman       False    C    Cherbourg   yes  False  109.2833
3    woman       False    C  Southampton   yes  False   88.1000
11   woman       False    C  Southampton   yes   True   84.5500
31   woman       False    B    Cherbourg   yes  False       NaN
52   woman       False    D    Cherbourg   yes  False  125.7292
..     ...         ...  ...          ...   ...    ...       ...
856  woman       False  NaN  Southampton   yes  False  209.8667
862  woman       False    D  Southampton   yes   True   73.9292
871  woman       False    D  Southampton   yes  False   99.5542
879  woman       False    C    Cherbourg   yes  False  139.1583
887  woman       False    B  Southampton   yes   True   49.0000

[94 rows x 16 columns]
('female', np.int64(2))
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9           1       2  female  14.0      1      0  30.0708        C  Second
15          1       2  female  55.0      0      0  16.0000        S  Second
41          0       2  female  27.0      1      0  21.0000        S  Second
43          1       2  female   3.0      1      2  41.5792        C  Second
53          1       2  female  29.0      1      0  26.0000        S  Second
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
854         0       2  female  44.0      1      0  26.0000        S  Second
865         1       2  female  42.0      0      0  13.0000        S  Second
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
880         1       2  female  25.0      0      1  26.0000        S  Second

       who  adult_male deck  embark_town alive  alone  age+fare
9    child       False  NaN    Cherbourg   yes  False   44.0708
15   woman       False  NaN  Southampton   yes   True   71.0000
41   woman       False  NaN  Southampton    no  False   48.0000
43   child       False  NaN    Cherbourg   yes  False   44.5792
53   woman       False  NaN  Southampton   yes  False   55.0000
..     ...         ...  ...          ...   ...    ...       ...
854  woman       False  NaN  Southampton    no  False   70.0000
865  woman       False  NaN  Southampton   yes   True   55.0000
866  woman       False  NaN    Cherbourg   yes  False   40.8583
874  woman       False  NaN    Cherbourg   yes  False   52.0000
880  woman       False  NaN  Southampton   yes  False   51.0000

[76 rows x 16 columns]
('female', np.int64(3))
     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
2           1       3  female  26.0      0      0   7.9250        S  Third
8           1       3  female  27.0      0      2  11.1333        S  Third
10          1       3  female   4.0      1      1  16.7000        S  Third
14          0       3  female  14.0      0      0   7.8542        S  Third
18          0       3  female  31.0      1      0  18.0000        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
863         0       3  female   NaN      8      2  69.5500        S  Third
875         1       3  female  15.0      0      0   7.2250        C  Third
882         0       3  female  22.0      0      0  10.5167        S  Third
885         0       3  female  39.0      0      5  29.1250        Q  Third
888         0       3  female   NaN      1      2  23.4500        S  Third

       who  adult_male deck  embark_town alive  alone  age+fare
2    woman       False  NaN  Southampton   yes   True   33.9250
8    woman       False  NaN  Southampton   yes  False   38.1333
10   child       False    G  Southampton   yes  False   20.7000
14   child       False  NaN  Southampton    no   True   21.8542
18   woman       False  NaN  Southampton    no  False   49.0000
..     ...         ...  ...          ...   ...    ...       ...
863  woman       False  NaN  Southampton    no  False       NaN
875  child       False  NaN    Cherbourg   yes   True   22.2250
882  woman       False  NaN  Southampton    no   True   32.5167
885  woman       False  NaN   Queenstown    no  False   68.1250
888  woman       False  NaN  Southampton    no  False       NaN

[144 rows x 16 columns]
('male', np.int64(1))
     survived  pclass   sex   age  sibsp  parch      fare embarked  class  \
6           0       1  male  54.0      0      0   51.8625        S  First
23          1       1  male  28.0      0      0   35.5000        S  First
27          0       1  male  19.0      3      2  263.0000        S  First
30          0       1  male  40.0      0      0   27.7208        C  First
34          0       1  male  28.0      1      0   82.1708        C  First
..        ...     ...   ...   ...    ...    ...       ...      ...    ...
839         1       1  male   NaN      0      0   29.7000        C  First
857         1       1  male  51.0      0      0   26.5500        S  First
867         0       1  male  31.0      0      0   50.4958        S  First
872         0       1  male  33.0      0      0    5.0000        S  First
889         1       1  male  26.0      0      0   30.0000        C  First

     who  adult_male deck  embark_town alive  alone  age+fare
6    man        True    E  Southampton    no   True  105.8625
23   man        True    A  Southampton   yes   True   63.5000
27   man        True    C  Southampton    no  False  282.0000
30   man        True  NaN    Cherbourg    no   True   67.7208
34   man        True  NaN    Cherbourg    no  False  110.1708
..   ...         ...  ...          ...   ...    ...       ...
839  man        True    C    Cherbourg   yes   True       NaN
857  man        True    E  Southampton   yes   True   77.5500
867  man        True    A  Southampton    no   True   81.4958
872  man        True    B  Southampton    no   True   38.0000
889  man        True    C    Cherbourg   yes   True   56.0000

[122 rows x 16 columns]
('male', np.int64(2))
     survived  pclass   sex   age  sibsp  parch  fare embarked   class  who  \
17          1       2  male   NaN      0      0  13.0        S  Second  man
20          0       2  male  35.0      0      0  26.0        S  Second  man
21          1       2  male  34.0      0      0  13.0        S  Second  man
33          0       2  male  66.0      0      0  10.5        S  Second  man
70          0       2  male  32.0      0      0  10.5        S  Second  man
..        ...     ...   ...   ...    ...    ...   ...      ...     ...  ...
848         0       2  male  28.0      0      1  33.0        S  Second  man
861         0       2  male  21.0      1      0  11.5        S  Second  man
864         0       2  male  24.0      0      0  13.0        S  Second  man
883         0       2  male  28.0      0      0  10.5        S  Second  man
886         0       2  male  27.0      0      0  13.0        S  Second  man

     adult_male deck  embark_town alive  alone  age+fare
17         True  NaN  Southampton   yes   True       NaN
20         True  NaN  Southampton    no   True      61.0
21         True    D  Southampton   yes   True      47.0
33         True  NaN  Southampton    no   True      76.5
70         True  NaN  Southampton    no   True      42.5
..          ...  ...          ...   ...    ...       ...
848        True  NaN  Southampton    no  False      61.0
861        True  NaN  Southampton    no  False      32.5
864        True  NaN  Southampton    no   True      37.0
883        True  NaN  Southampton    no   True      38.5
886        True  NaN  Southampton    no   True      40.0

[108 rows x 16 columns]
('male', np.int64(3))
     survived  pclass   sex   age  sibsp  parch     fare embarked  class  \
0           0       3  male  22.0      1      0   7.2500        S  Third
4           0       3  male  35.0      0      0   8.0500        S  Third
5           0       3  male   NaN      0      0   8.4583        Q  Third
7           0       3  male   2.0      3      1  21.0750        S  Third
12          0       3  male  20.0      0      0   8.0500        S  Third
..        ...     ...   ...   ...    ...    ...      ...      ...    ...
877         0       3  male  19.0      0      0   7.8958        S  Third
878         0       3  male   NaN      0      0   7.8958        S  Third
881         0       3  male  33.0      0      0   7.8958        S  Third
884         0       3  male  25.0      0      0   7.0500        S  Third
890         0       3  male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone  age+fare
0      man        True  NaN  Southampton    no  False   29.2500
4      man        True  NaN  Southampton    no   True   43.0500
5      man        True  NaN   Queenstown    no   True       NaN
7    child       False  NaN  Southampton    no  False   23.0750
12     man        True  NaN  Southampton    no   True   28.0500
..     ...         ...  ...          ...   ...    ...       ...
877    man        True  NaN  Southampton    no   True   26.8958
878    man        True  NaN  Southampton    no   True       NaN
881    man        True  NaN  Southampton    no   True   40.8958
884    man        True  NaN  Southampton    no   True   32.0500
890    man        True  NaN   Queenstown    no   True   39.7500

[347 rows x 16 columns]

In [11]:
tt_pclass.get_group(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age+fare
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,29.2500
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,33.9250
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,43.0500
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True,NaN
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False,23.0750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True,32.5167
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True,32.0500
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,68.1250
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,39.7500

In [12]:
tt_sex.get_group('female')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age+fare
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,109.2833
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,33.9250
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,88.1000
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False,38.1333
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,44.0708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False,51.0000
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True,32.5167
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,68.1250
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,49.0000
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN

In [13]:
# groupby 된 상태에서 원하는 컬럼 값으로 추출해서 보는 형태
tt_sex.get_group('female')['fare'].mean()

np.float64(44.47981783439491)

In [14]:
tt.groupby('sex')['fare'].mean()

sex
female    44.479818
male      25.523893
Name: fare, dtype: float64

In [15]:
test1=tt[['sex', 'fare']]
test1.groupby('sex')['fare'].mean()

sex
female    44.479818
male      25.523893
Name: fare, dtype: float64

In [16]:
# 2개 이상 컬럼 추출
tt.groupby(['sex', 'pclass'])['fare'].mean()

sex     pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: fare, dtype: float64

In [17]:
tt.groupby(['sex', 'pclass']).agg(fare_sum = ('fare', 'sum'),
                                  fare_mean = ('fare', 'mean'),
                                  fare_max = ('fare', 'max'),
                                  fare_cnt = ('fare', 'count'))

                fare_sum   fare_mean  fare_max  fare_cnt
sex    pclass
female 1       9975.8250  106.125798  512.3292        94
       2       1669.7292   21.970121   65.0000        76
       3       2321.1086   16.118810   69.5500       144
male   1       8201.5875   67.226127  512.3292       122
       2       2132.1125   19.741782   73.5000       108
       3       4393.5865   12.661633   69.5500       347

In [18]:
# 여러 컬럼 보고 싶은 경우
tt.groupby(['sex', 'pclass'])[['fare', 'age']].mean()

                     fare        age
sex    pclass
female 1       106.125798  34.611765
       2        21.970121  28.722973
       3        16.118810  21.750000
male   1        67.226127  41.281386
       2        19.741782  30.740707
       3        12.661633  26.507589

In [19]:
# agg 함수에 내가 만든 함수 적용시키기

def max_min(x):
  return x.max()-x.min()

In [20]:
tt.groupby(['sex', 'pclass'])[['fare', 'age']].agg(max_min)

                   fare    age
sex    pclass
female 1       486.4000  61.00
       2        54.5000  55.00
       3        62.8000  62.25
male   1       512.3292  79.08
       2        73.5000  69.33
       3        69.5500  73.58

In [21]:
tt.groupby(['sex', 'pclass'])[['fare', 'age']].describe()

                fare                                                      \
               count        mean        std      min       25%       50%
sex    pclass
female 1        94.0  106.125798  74.259988  25.9292  57.24480  82.66455
       2        76.0   21.970121  10.891796  10.5000  13.00000  22.00000
       3       144.0   16.118810  11.690314   6.7500   7.85420  12.47500
male   1       122.0   67.226127  77.548021   0.0000  27.72810  41.26250
       2       108.0   19.741782  14.922235   0.0000  12.33125  13.00000
       3       347.0   12.661633  11.681696   0.0000   7.75000   7.92500

                                       age                              \
                      75%       max  count       mean        std   min
sex    pclass
female 1       134.500000  512.3292   85.0  34.611765  13.612052  2.00
       2        26.062500   65.0000   74.0  28.722973  12.872702  2.00
       3        20.221875   69.5500  102.0  21.750000  12.729964  0.75
male   1        78.459375  512.3292  101.0  41.281386  15.139570  0.92
       2        26.000000   73.5000   99.0  30.740707  14.793894  0.67
       3        10.008300   69.5500  253.0  26.507589  12.159514  0.42


                  25%   50%    75%   max
sex    pclass
female 1       23.000  35.0  44.00  63.0
       2       22.250  28.0  36.00  57.0
       3       14.125  21.5  29.75  63.0
male   1       30.000  40.0  51.00  80.0
       2       23.000  30.0  36.75  70.0
       3       20.000  25.0  33.00  74.0

In [22]:
tt.groupby(['pclass', 'sex'])[['fare', 'age']].describe()

                fare                                                      \
               count        mean        std      min       25%       50%
pclass sex
1      female   94.0  106.125798  74.259988  25.9292  57.24480  82.66455
       male    122.0   67.226127  77.548021   0.0000  27.72810  41.26250
2      female   76.0   21.970121  10.891796  10.5000  13.00000  22.00000
       male    108.0   19.741782  14.922235   0.0000  12.33125  13.00000
3      female  144.0   16.118810  11.690314   6.7500   7.85420  12.47500
       male    347.0   12.661633  11.681696   0.0000   7.75000   7.92500

                                       age                              \
                      75%       max  count       mean        std   min
pclass sex
1      female  134.500000  512.3292   85.0  34.611765  13.612052  2.00
       male     78.459375  512.3292  101.0  41.281386  15.139570  0.92
2      female   26.062500   65.0000   74.0  28.722973  12.872702  2.00
       male     26.000000   73.5000   99.0  30.740707  14.793894  0.67
3      female   20.221875   69.5500  102.0  21.750000  12.729964  0.75
       male     10.008300   69.5500  253.0  26.507589  12.159514  0.42


                  25%   50%    75%   max
pclass sex
1      female  23.000  35.0  44.00  63.0
       male    30.000  40.0  51.00  80.0
2      female  22.250  28.0  36.00  57.0
       male    23.000  30.0  36.75  70.0
3      female  14.125  21.5  29.75  63.0
       male    20.000  25.0  33.00  74.0

In [23]:
# Q1. 성별, pclass 별 생존자 수 추출
tt.groupby(['sex', 'pclass'])['survived'].sum()

sex     pclass
female  1         91
        2         70
        3         72
male    1         45
        2         17
        3         47
Name: survived, dtype: int64

## **생존률을 바라보는 다양한 문법들**

클래스별로 생존에 따른 여러 테이블을 만들 수 있다.
- 교차테이블 crosstab()
  - 두 개 이상의 범주형 변수 간의 빈도수 측정
  - 엑셀 피벗과 유사한 내용
  - 각 범주에 따른 조합에 속하는 데이터 개수 계산
- pd.crosstab(컬럼1, 컬럼2) 기준 컬럼들이 들어간다.
  - pd.crosstab(컬럼1, 컬럼2, normalize='all')
  - pd.crosstab(컬럼1, 컬럼2, normalize='index')

In [24]:
pd.crosstab(tt['pclass'], tt['sex'], normalize='all')

sex       female      male
pclass
1       0.105499  0.136925
2       0.085297  0.121212
3       0.161616  0.389450

In [25]:
pd.crosstab(tt['pclass'], tt['sex'], normalize='index')

sex       female      male
pclass
1       0.435185  0.564815
2       0.413043  0.586957
3       0.293279  0.706721

In [26]:
pd.crosstab(tt['sex'], tt['survived'])

survived    0    1
sex
female     81  233
male      468  109

## **cut, qcut**

- 구간화 binning 작업
  - 연속형 데이터를 고정된 간격 (bins) 으로 나눈다.
  - 수치형 데이터를 범주형 데이터로 구간화 변환
- **cut**
  - 구간 크기 일정하게, 값의 분포를 고려하지 않는다. 구간 개수는 직접 설정 가능하다.
  - pd.cut(데이터프레임 컬럼, bins=지정)
- **qcut**
  - 가능한 데이터의 분포에 따라 자동으로 분위 수 (Quantile) 기준을 나누는 게 큰 차이
  - 데이터의 개수가 비슷한 그룹으로 나누고 싶을 때
  - 등 간격이 아니라 분포를 고려해서 구간을 자동 설정
  - 구간에 속하는 데이터 개수가 동일하다.
  - pd.qcut(데이터프레임 컬럼, q=지정)

In [27]:
tt['cut']=pd.cut(tt['age'], bins=4)

In [28]:
tt['qcut']=pd.qcut(tt['age'], q=4)

In [29]:
tt['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [30]:
tt.cut.value_counts()

cut
(20.315, 40.21]    385
(0.34, 20.315]     179
(40.21, 60.105]    128
(60.105, 80.0]      22
Name: count, dtype: int64

In [31]:
tt.qcut.value_counts()

qcut
(20.125, 28.0]     183
(0.419, 20.125]    179
(38.0, 80.0]       177
(28.0, 38.0]       175
Name: count, dtype: int64

## **Q 타이타닉 데이터를 확인했을 때**

- 등급이 존재하고, 생존에 대한 생존자 확인 가능
- 타이타닉 데이터의 생존자와 비생존자의 등급 별 생존자 차이가 유의미한가? 유의미하지 않은가?

In [32]:
tt.groupby('pclass')['survived'].sum()

pclass
1    136
2     87
3    119
Name: survived, dtype: int64

- pclass 클래스와 생존에 따른 분석
- 범주형 형태로 카이제곱 통계량으로 분석 가능

In [33]:
crss_table=pd.crosstab(tt['pclass'], tt['survived'])

In [34]:
crss_table

survived    0    1
pclass
1          80  136
2          97   87
3         372  119

In [35]:
# scipy 에서 제공하는 chi2_contingency 함수로 쉽게 추출 가능

from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(crss_table)

In [36]:
# p-value

if p < 0.05:
  print('pclass, 생존율 차이는 통계적으로 유의미하다.')
else:
  print('pclass, 생존율 차이는 통계적으로 유의미하지 않다.')

pclass, 생존율 차이는 통계적으로 유의미하다.

## **카이제곱 간단한 정리**

- 두 개 이상의 범주형 변수 관계를 통계적 방법으로 분석
- 카이제곱 검정의 주요 용도
  - 독립성: 두 범주형 변수 간의 연관성 여부를 확인하는 것
    - 등급 (1, 2, 3) 에 따라 생존여부 (0, 1) 통계적으로 유의미한 차이가 있는지?
  - 적합성: 관찰된 데이터가 기대되는 분포와 일치하는지 여부 평가
    - 주사위 던지기
    - 1/6 기대빈도: 실제 주사위를 던지면서 나오는 관측된 빈도와 일치하는지 분석
  - 카이제곱 검정 가설
    - 귀무가설 (H0): 두 변수는 독립적이다. (연관성 X)
    - 대립가설 (H1): 두 변수는 독립적이지 않다. (연관성 O)
  - 위에 추출된 값들을 확인하면
    - 관찰빈도
    - 기대빈도
    - 통계량
    - p-value
    - 결론: p-value (0.05) 보다 작으면 두 변수 간 연관성 O

## **판다스에서 제공하는 인코딩 방법들**

- 문자열, 범주형 데이터를 인코딩 수치화로 만듦
- pd.get_dummies()
  - 쉽게 one-hot encoding

In [37]:
# 남성 0, 여성 1
# 남성 1, 여성 0
tt['sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object

In [38]:
pd.get_dummies(tt['sex'])*1

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]